html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.new-book-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: green;
    border: 1px solid black;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover {
    color: pink;
    text-decoration: none;
    cursor: pointer;
}

input:invalid {
    border: 1px solid red;
}

