html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: #FEFAE0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    display: grid;
    grid-template-rows: 200px 80px 1fr;
    gap: 20px;
}

h1 {
    color: #FEFAE0;
    font-size: 70px;
    margin: 0;
    text-align: center;
}

.header {
    background-color: #606C38;
    padding: 20px;
    display: grid;
    place-items: center;
}

.new-book-btn,
.add-book-btn,
.book-shelf > div > button {
    color: #606C38;
    background-color: #FEFAE0;
    border: 4px solid #606C38;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.new-book-btn {
    padding: 20px;
    font-size: 20px;
    width: fit-content;
    height: 80px;
    justify-self: center;
}

.add-book-btn {
    padding: 10px;
    font-size: 16px;
}

.new-book-btn:hover,
.add-book-btn:hover,
.book-shelf > div > button:hover {
    border: 4px solid #BC6C25;
    color: #BC6C25;
}

.new-book-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.modal-content {
    background-color: #FEFAE0;
    border: 6px solid #BC6C25;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    position: relative;
}

.close {
    color: #BC6C25;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover {
    color: #DDA15E;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    place-items: center;
}

form > div:nth-child(-n + 4) {
    display: grid;
    grid-template-columns: 110px 200px 80px;
    gap: 10px;
    align-items: center;
}

label,
.input-error-message,
.add-book-btn {
    font-weight: bold;
    color: #606C38;
}

.input-error-message {
    text-align: center;
}

input {
    border: 2px solid #DDA15E;
    height: 30px;
    border-radius: 10px;
    text-indent: 10px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="checkbox"]:focus {
    outline: none;
    border: 2px solid #606C38;
    box-shadow: 3px 3px 2px #606c388f;
}


form span::after {
    content: "REQUIRED";
    background-color: #DDA15E;
    color: #FEFAE0;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

input[type="checkbox"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    position: relative;
    justify-self: center;
}

input[type="checkbox"]::before {
    content: "✓";
    position: absolute;
    font-size: 1.5rem;
    right: -1px;
    top: -.3rem;
    color: #DDA15E;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.book-shelf > div{
    background-color: #DDA15E;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    text-align: center;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: repeat(3, 20px) repeat(2, 40px);
    gap: 20px;
    align-content: center;
}

.book-shelf > div > div {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-shelf > div > button {
    background-color: #DDA15E;
    border: 4px solid #FEFAE0;
    color: #FEFAE0;
    font-size: 14px;
}

.book-shelf > div > button:hover {
    background-color: #FEFAE0;
}
.book-shelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    width: 80%;
    justify-self: center;
    gap: 20px;
}

@media screen and (max-width: 700px) {
    form span {
        display: none;
    }

    label:not(.checkbox)::before {
        content: "*";
    }

    form > div:nth-child(-n + 4) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}